<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Livro</title>
</head>
<body>
    <h1>Formulário de Livro</h1>
    <form th:action="@{/livros/novo}" th:object="${livro}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>Código:</label>
        <input type="text" th:field="*{codigo}"/><br/>
        <label>Título:</label>
        <input type="text" th:field="*{titulo}"/><br/>
        <label>Autor:</label>
        <input type="text" th:field="*{autor}"/><br/>
        <label>ISBN:</label>
        <input type="text" th:field="*{isbn}"/><br/>
        <label>Editora:</label>
        <input type="text" th:field="*{editora}"/><br/>
        <button type="submit">Salvar</button>
    </form>
    <a href="/livros">Cancelar</a>
</body>
</html>
